.filter-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.3s ease-in-out;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.filter-item:hover {
  cursor: pointer;
}

.filter-image {
  max-height: 60%;
  max-width: 60%;
}

.filter-tag {
  text-align: center;
  color: #858484;
}

.card {
  transition: all 0.5s ease-in-out;
}
